{% extends 'scores/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="{{game.gameArtwork.url}}" class="card-img-top" alt="Game Artwork">
      <div class="card-body">
        <h4 class="text-center">{{game.gameName}}</h4>
        <table class="table">
          <tbody>
            <tr>
              <th>Released</th>
              <td>{{game.gameYear}}</td>
            </tr>
            <tr>
              <th>System</th>
              <td>{{game.gameSystem}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h5>Top Scores:</h5>
    <table class="table">
      <thead class="thead-dark">
        <th>Date | Time</th>
        <th width="50%">Score</th>
        <th>Screenshot</th>
      </thead>
      <tbody>
        {% for score in scores %}
        <tr>
          <td>{{score.scoreTimeDate}}</td>
          <td>{{score.scoreResult}}</td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#show{{score.pk}}">
              Show
            </button>

            <!-- Modal -->
            <div class="modal fade" id="show{{score.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="{{score.scoreScreenShot.url}}" alt="Screenshot" width="100%">
                  </div>
                </div>
              </div>
            </div>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>


{% endblock %}
